
<app-header></app-header>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>{{ perfilUsuario.nombres }}  {{ perfilUsuario.apellidos }}</h1>
    <p>
      I'm <span class="typed">Developer</span>
    </p>
    <div class="social-links">
      <table>
        <tr>
          <td *ngFor="let plataforma of plataformas">
            <a [href]="plataforma.links" target="_blank" [class]="plataforma.nombre"><i [class]="plataforma.icon"></i></a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
<!-- End Hero -->


<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Sobre mi</h2>
        <p>
          {{perfilUsuario.acercaDeMi}}
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="assets/img/gerson_santos_mateo.JPG" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3> {{perfilUsuario.ocupacion}} </h3>
          <p class="fst-italic">
            Información básica
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Fecha de Nacimiento:</strong> <span>{{perfilUsuario.fechaDeNacimiento | date: 'MM/dd/yyyy'}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Página Web:</strong> <span>proximamente</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span>{{perfilUsuario.celular}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>País:</strong> <span>{{perfilUsuario.pais}}</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Grado:</strong> <span>{{perfilUsuario.grado}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{perfilUsuario.email}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>{{ perfilUsuario.ciudad }}</span></li>
              </ul>
            </div>
          </div>
          <!-- <p>
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
          </p> -->
          <p class="descripcionDelIndibiduo">
            {{ perfilUsuario.descripcionDelIndibiduo }}
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>{{perfilUsuario.nombres}} {{perfilUsuario.apellidos}}</h4>
            <p>
              <em>
                {{perfilUsuario.acercaDeMi}}
              </em>
            </p>
            <!-- <ul>
              <li>Portland par 127,Orlando, FL</li>
              <li>(123) 456-7891</li>
              <li>alice.barkley@example.com</li>
            </ul> -->
          </div>

          <h3 class="resume-title">Habilidades</h3>
          <div class="resume-item pb-0">
            <h4>Tecnologías con las que trabajo</h4>
            <p>
              <em>
                <!---->
              </em>
            </p>
            <ul *ngFor="let item of habilidades">
              <li>{{item.habilidad}}</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Experiencia Profesional</h3>
          <div class="resume-item" *ngFor="let item of experiencia">
            <h4>{{item.titulo}}</h4>
            <h5> {{item.yearOfEntity}} - {{item.yearOfRease}} </h5>
            <p><em>{{item.provincia}}, {{item.ciudad}}</em></p>
            <!-- ESTE BLOQUE DE CODIGO SE PUEDE ACTIVAR EN CASO DE QUE SE DESEE DETALLAR INFORMACION
                 SOBRE LOS DIVERSOS PUESTOS OCUPADOS DENTRO DE UNA EMPRESA.
            -->
            <!-- <ul>
              <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
              <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
              <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
              <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
            </ul> -->
          </div>
          <h3 class="resume-title">Educación</h3>
          <div class="resume-item">
            <div *ngFor="let item of educacion">
              <h4>{{item.institucion}}</h4>
              <h5>{{item.startYear}} - {{item.endYear}}</h5>
              <p><em>{{item.title}}</em></p>
              <p>
                {{item.detalle}}
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

</main><!-- End #main -->

<app-footer [perfilUsuario]="perfilUsuario"></app-footer>
